auto-install-peers=false
strict-peer-dependencies=false
fetch-timeout=1000000
fetch-retries=5
frozen-lockfile=false
supported-architectures=os:win32,cpu:x64
only-built-dependencies=@swc/core,esbuild,msw,unrs-resolver,@firebase/util,keccak,protobufjs
